.vscode
.idea
.settings
*.pyc
*.mustache.js
.project
.pydevproject
*.iml
*.ipr
*.iws
.sublime*
node_modules

# OS X junk
.AppleDouble
.DS_Store
Icon?
.Spotlight-V100
.Trashes

# Windows junk
ehthumbs.db
Thumbs.db
Desktop.ini
